<div id="<%= dom_id registration %>">
  <p>
    <strong>Serial:</strong>
    <%= registration.serial %>
  </p>

  <p>
    <strong>Registrtion number:</strong>
    <%= registration.registrtion_number %>
  </p>

  <p>
    <strong>Date of first registration:</strong>
    <%= registration.date_of_first_registration %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= registration.vehicle_id %>
  </p>

</div>
